* {
    box-sizing: border-box;
    --text-color: hsl(0, 0%, 88%);
    --widget-bg: hsl(0, 0%, 20%);
    --widget-bg-header: hsl(0, 0%, 16%);
    --widget-bg-header-sec: hsl(0, 0%, 18%);
}

body {
    background-color: hsl(0, 0%, 14%);
    color: var(--text-color);
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 2em;
    margin-inline: 4em;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    place-items: center;
    text-align: center;
}

.mezuak {
    grid-column: span 2;
}

.grid-query-question > div {
    width: 100%;
}

[id="nireForm:mezuak"] {
    color: red;
}

input[type="submit"] {
    background-color: var(--widget-bg);
    border: none;
    color: inherit;
    font-size: 1.4em;
    padding: 0.5em;
    transition: background-color ease-in-out 0.3s;
}

input[type="submit"]:hover {
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}

.ui-widget-content {
    background-color: var(--widget-bg);
    color: var(--text-color);
}

.ui-widget-header {
    color: var(--text-color);
}

.ui-datepicker .ui-datepicker-header, .ui-datatable-header {
    background: var(--widget-bg-header);
}

.ui-state-default {
    background: var(--widget-bg-header-sec);
    color: var(--text-color);
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    color: hsl(210, 100%, 90%);
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    color: hsl(210, 100%, 80%);
}

.gertaeradun-eguna > a {
    color: red!important;
}

.back-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}