* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 88%);
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 2em;
    margin-inline: 4em;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    place-items: center;
    text-align: center;
}

.mezuak {
    grid-column: span 2;
}

input[type="submit"] {
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: inherit;
    font-size: 1.4em;
    padding: 0.5em;
    transition: background-color ease-in-out 0.3s;
}

input[type="submit"]:hover {
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}